<%# locals: (container:) %>

<%= turbo_frame_tag(container.turbo_frame_name) do %>
  <div class="space-y-12">
    <% cache(container.cache_key) do %>
      <%= render("users/bests/games/content", content: container.content) %>
    <% end %>

    <div class="container mx-auto">
      <%= render("games/past/results", results: container.results) %>
    </div>
  </div>
<% end %>
