<% @view.signature.tap do |signature| %>
  <%= turbo_stream.update(signature.turbo_frame_name) do %>
    <div
      data-controller="inline-edit"
      data-action="keydown.esc@window->inline-edit#cancel"
    >
      <%= render("games/just_ended/participants/form", form: @view.form) %>
    </div>
  <% end %>
<% end %>
