<%# locals: (container:) %>

<%= turbo_frame_tag(container.turbo_frame_name) do %>
  <div class="space-y-12">
    <% cache_unless(App.debug?, container.cache_key(context: layout)) do %>
      <%= render("users/games/content", content: container.content) %>
    <% end %>

    <div class="container mx-auto">
      <%= render("games/past/results", results: container.results) %>
    </div>
  </div>
<% end %>
