<% title("New Custom Game") %>

<div class="container mx-auto space-y-24">
  <h1><%= title %></h1>

  <div class="flex justify-center items-center gap-6">
    <%= turbo_frame_tag(:new_game) do %>
      <%= render("form", settings: @settings) %>
    <% end %>
  </div>
</div>
