<%# locals: (signature:) %>

<div class="flex justify-center items-center gap-x-3">
  <%= signature.attribution_prefix %>

  <%= link_to(
        signature.attribution_link_content,
        signature.attribution_link_url,
        data: { turbo_stream: true }) %>
</div>
