<% signature = @view.signature %>

<%= turbo_stream.update(signature.turbo_frame_name) do %>
  <div
    data-controller="inline-edit"
    data-action="keydown.esc@window->inline-edit#cancel"
  >
    <div
      data-inline-edit-target="beforeEdit"
      class="hidden"
    >
      <%= render("games/participants/signature", signature:) %>
    </div>
    <div data-inline-edit-target="editing">
      <%= render("games/participants/form", form: @view.form) %>
    </div>
  </div>
<% end %>
