<% title("Participant Signature") %>

<div class="container mx-auto space-y-16">
  <h1><%= title %></h1>

  <% @view.signature.tap do |signature| %>
    <%= turbo_frame_tag(*signature.turbo_frame_name, class: "block") do %>
      <%= render("games/participants/signature", signature:) %>
    <% end %>
  <% end %>
</div>
