<%# locals: () %>

<nav class="container mx-auto flex justify-between">
  <ul class="flex gap-x-12">
    <li><%= link_to("< Back", root_path) %></li>
    <li><%= active_link_to("Home", ui_portal_root_path) %></li>
    <li><%= active_link_to("Flash", ui_portal_flash_notifications_path) %></li>
    <li>
      <%= active_link_to(
            "Patterns",
            ui_portal_patterns_path,
            includes: %w[patterns]) %>
    </li>
  </ul>
</nav>
