<%# locals: (actions:) %>

<div class="space-y-10">
  <h3 class="h4 text-center"><%= actions.game_over_message %></h3>

  <div data-controller="games--just-ended--new-game-content">
    <%= render("games/new/content", content: actions.new_game_content) %>
  </div>
</div>
