<%# locals: (container:) %>

<div class="space-y-12">
  <%= render("games/just_ended/content", content: container.content) %>

  <div class="container mx-auto">
    <hr>

    <%= render(container.footer_partial_options(user: current_user)) %>
  </div>
</div>
