<%# locals: (container:) %>

<div class="space-y-12">
  <%= render("games/just_ended/content", content: container.content) %>

  <div class="container mx-auto">
    <hr>

    <%= turbo_frame_tag(
          *container.footer_turbo_frame_name,
          src: container.footer_source_url) do %>
      <div class="h-24 flex justify-center items-center">
        <%= inline_svg_tag("spinner.svg") %>
      </div>
    <% end %>
  </div>
</div>
