<%# locals: (footer:) %>

<%= turbo_frame_tag(*footer.turbo_frame_name) do %>
  <% footer.signature.tap do |signature| %>
    <% if signature.show? %>
      <div class="-mt-10 mb-3 min-h-24 flex justify-center items-center">
        <%= render("games/participants/signature", signature:) %>
      </div>
    <% end %>
  <% end %>

  <%= render("games/past/results", results: footer.results) %>
<% end %>
