<%# locals: (results:) %>

<div
  data-turbo-prefetch="false"
  class="
    grid md:grid-cols-2
    gap-x-28 gap-y-8
    max-md:px-8
  "
>
  <div class="md:justify-self-end space-y-3">
    <% results.metrics.tap do |metrics| %>
      <%= render(layout: "games/past/metrics", locals: { metrics: }) do %>
        <% if metrics.show_performance_metrics? %>
          <%= render(
                "games/just_ended/performance_metrics",
                performance_metrics:
                  metrics.performance_metrics(user: current_user)) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="space-y-12">
    <%= render(
          "games/just_ended/active_participants/roster",
          roster: results.active_participants_roster) %>
    <%= render(
          "games/just_ended/observers/roster",
          roster: results.observers_roster) %>
  </div>
</div>
