<% title("Metrics") %>
<% description(t("metrics.meta_description")) %>

<div
  data-turbo-prefetch="false"
  class="container mx-auto space-y-12"
>
  <h1><%= title %></h1>

  <div class="space-y-24">
    <%= render("metrics/engagements", engagements: @show.engagements) %>
    <%= render("metrics/participants", participants: @show.participants) %>
  </div>
</div>
