<%# locals: () %>

<%= form_with(model: layout.current_user, url: user_path) do |f| %>
  <div class="flex flex-col gap-y-2">
    <div class="inline-flex items-center gap-x-3">
      <%= f.text_field(
            :username,
            autocomplete: :off,
            autofocus: true,
            onfocus: "this.select()",
            placeholder: "Username",
            data: { "1p-ignore": true },
            class: "w-80 form-field") %>
      <%= f.submit(Icon.check, class: "btn-basic text-xl") %>
    </div>
    <p class="form-error"><%= f.object.errors[:username].join(", ") %></p>
  </div>
<% end %>
