<%# locals: (content:) %>

<table class="mx-auto table-fixed border-double border-4 border-dark">
  <tbody
    class="
      text-center cursor-default

      [&_td]:size-8 [&_td]:min-w-8 [&_td]:min-h-8 [&_td]:p-0
      [&_td]:border [&_td]:border-dark
      [&_td]:text-lg
    "
  >
    <% content.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td class="<%= class_names(cell.css) %>">
            <%= cell %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
