<%# locals: (roster:) %>

<div
  data-turbo-prefetch="false"
  class="space-y-3 overflow-hidden"
>
  <h2 class="h3 mr-8">Roster</h2>

  <ul
    id="<%= roster.turbo_target %>"
    class="flex flex-col items-end gap-y-2 whitespace-nowrap"
  >
    <li class="hidden only:block"><%= View.no_value_indicator_tag %></li>

    <% roster.listings.each_with_index do |listing, index| %>
      <%= render("home/roster/listing", listing:) %>
    <% end %>
  </ul>
</div>
