<% title("War Room") %>

<%= turbo_stream_from(
      @view.turbo_stream_name,
      channel: @view.turbo_stream_channel) %>

<% @view.welcome_banner(context: layout).tap do |welcome_banner| %>
  <% if welcome_banner.show? %>
    <div class="container mx-auto">
      <%= render("home/welcome_banner", view: welcome_banner) %>
    </div>
  <% end %>
<% end %>

<% @view.view.tap do |view| %>
  <%= render(template: view.template_path, locals: { view: }) %>
<% end %>
