<% title("Edit User") %>

<div class="container mx-auto space-y-16">
  <h1><%= title %></h1>

  <%= turbo_frame_tag(*@view.turbo_frame_name) do %>
    <%= render("games/just_ended/active_participants/current_user/form", form: @view.form) %>
  <% end %>
</div>
