<% title("User") %>

<div class="container mx-auto space-y-16">
  <h1><%= title %></h1>

  <%= render(
        "games/just_ended/active_participants/signature",
        signature: @show.signature,
      ) %>
</div>
