<% title("Pattern: #{@show.name}") %>

<div class="space-y-12">
  <div class="container mx-auto space-y-6">
    <h1>Pattern</h1>

    <div class="flex items-center min-h-10">
      <%= render("show_heading_with_controls", view: @show) %>
    </div>
  </div>

  <div class="[--negative-board-mx:--spacing(4)]">
    <%= render("grid", view: @show) %>
  </div>

  <div class="container mx-auto text-center">
    <div class="flex justify-center items-center gap-6">
      <%= button_to(
            "Reset",
            @show.pattern_reset_url,
            data: { turbo_confirm: "Really reset?" },
            class: "btn-primary",
          ) %>
      <%= button_to(
            "Export",
            @show.pattern_export_url,
            class: "btn-primary",
            data: { turbo_frame: :_top },
          ) %>
    </div>
  </div>
</div>
