<%# locals: (view:) %>

<div class="container mx-auto">
  <div class="md:mt-24 space-y-16">
    <h1 class="text-center"><%= t("game.new_html").sample %></h1>

    <div class="flex justify-center items-center min-h-12">
      <%= render("games/new", view:) %>
    </div>
  </div>
</div>
