<%# locals: (view:) %>

<ul class="flex flex-col sm:flex-row justify-center items-center gap-6">
  <% view.difficulty_levels.each do |difficulty_level| %>
    <li>
      <%= button_to(
            difficulty_level.name,
            difficulty_level.new_game_url,
            class: "btn-primary") %>
    </li>
  <% end %>
</ul>
