<% title("Game ##{@view.game_number}") unless title %>

<% content_for(:page_nav) do %>
  <%= render("games/page_nav", nav: @view.nav) %>
<% end %>

<%= render("games/game", view: @view) %>

<div class="container mx-auto">
  <hr>

  <%= render("games/results", view: @view.results(user: current_user)) %>
</div>
