<% title("Game ##{@view.game_number}") %>

<%= render("page_nav", nav: @view.nav) %>

<%= render("game", view: @view) %>

<div class="container mx-auto">
  <hr class="my-12 border-dotted dark:border-neutral-600">

  <%= render("games/results", view: @view.results(user: current_user)) %>
</div>
