<% title("Game #{@view.game_number}") unless title %>

<% content_for(:page_nav) do %>
  <%= render("games/page_nav", nav: @view.nav) %>
<% end %>

<%= turbo_frame_tag(:game_frame) do %>
  <%= render("games/game", view: @view) %>

  <div class="container mx-auto">
    <%= render("games/results", view: @view.results(user: current_user)) %>
  </div>
<% end %>
