<table>
  <tbody>
    <% @game_view.rows.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td
            class="
              p-1
              border border-zinc-400
              <%= cell.css_background_color %>
            "
          >
            <%= cell.render %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
