<% title("Game #{@show.game_number}") %>
<% set_meta_tags(canonical: games_path) %>

<% content_for(:page_nav) do %>
  <%= render(
        "games/past/page_nav",
        page_nav: @show.page_nav(context: layout)) %>
<% end %>

<div class="[--negative-board-mx:calc(var(--page-px)---spacing(2))]">
  <%= render("games/past/container", container: @show.container) %>
</div>
