<table class="mx-auto table-fixed select-none">
  <tbody
    <% if @game_view.in_progress? %>
      data-controller="board"
      data-action="
        click->board#reveal
        contextmenu->board#toggleFlag:prevent
        dblclick->board#revealNeighbors
      "
    <% end %>
    class="
      <%# Cells %>
      *:*:size-8 *:*:min-w-8 *:*:min-h-8
      *:*:border *:*:border-slate-600
      *:*:text-center
      <% if @game_view.in_progress? %>
        data-[revealed=false]:*:*:cursor-cell
        data-[revealed=true]:*:*:cursor-default
      <% else %>
        *:*:cursor-default
      <% end %>
    "
  >
    <% @game_view.rows.each do |row| %>
      <tr>
        <% row.each do |cell_view| %>
          <td
            data-id="<%= cell_view.id %>"
            data-revealed="<%= cell_view.revealed? %>"
            class="<%= class_names(cell_view.css_class) %>"
          >
            <%= cell_view.render %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
