<%# locals: (roster:) %>

<% if roster.listings? %>
  <div class="space-y-3">
    <h4 class="h3">Observers</h4>

    <ol class="list-decimal list-inside space-y-2">
      <% roster.listings.each_with_index do |listing, index| %>
        <li>
          <% if listing.user?(current_user) %>
            <span title="Me"><%= Emoji.eyes %></span>
          <% end %>

          <%= link_to(
                listing.updateable_display_name,
                listing.show_user_url,
                data: { turbo_frame: :_top }) %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>
