<%# locals: () %>

<div
  id="flash"
  class="
    pointer-events-none
    fixed top-6 left-1/2 -translate-x-1/2
    flex flex-col items-center gap-y-3
  "
>
  <%= render(
        "layouts/flash/notifications",
        notifications: layout.flash_notifications) %>
</div>
