<%# locals: (container:) %>

<%= turbo_frame_tag(container.turbo_frame_name) do %>
  <div class="space-y-12">
    <% cache(container.cache_key) do %>
      <%= render("games/past/content", content: container.content) %>

      <div class="container mx-auto">
        <%= render("games/past/footer", footer: container.footer) %>
      </div>
    <% end %>
  </div>
<% end %>
