<%# locals: (duty_roster:) %>

<%= turbo_stream_from(*duty_roster.turbo_stream_name) %>

<div class="space-y-3">
  <h4 class="h3">Duty Roster</h4>

  <div
    data-turbo-prefetch="false"
    class="flex flex-col gap-y-2"
  >
    <% duty_roster.listings.each_with_index do |listing, index| %>
      <div class="flex items-baseline gap-x-3">
        <span><%= index.next %>.</span>

        <% if listing.user?(current_user) %>
          <span title="Me"><%= Emoji.eyes %></span>
        <% end %>

        <%= link_to(
              listing.name,
              listing.show_user_url,
              id: listing.dom_id,
              data: { turbo_frame: :_top }) %>
      </div>
    <% end %>
  </div>
</div>
