<%# locals: (engagement_tally:) %>

<div class="inline-flex flex-wrap justify-center gap-x-6 gap-y-2">
  <span class="whitespace-nowrap">
    <span class="<%= class_names(engagement_tally.alliance_ranking_css) %>">
      Alliance: <%= engagement_tally.wins_count %>
    </span>
    <span class="text-dim">/</span>
    Mines: <%= engagement_tally.losses_count %>
  </span>

  <span
    title="Total (Victories + Defeats)"
    class="inline-flex gap-x-1 whitespace-nowrap text-dim-lg font-normal"
  >
    <span>Σ</span> = <span><%= engagement_tally.total_count %></span>
  </span>
</div>
