<%# locals: (results:) %>

<div
  class="
    grid md:grid-cols-2
    gap-x-28 gap-y-8
  "
>
  <div class="md:justify-self-end space-y-3">
    <%= render("games/past/metrics", metrics: results.metrics) %>
  </div>
  <div class="space-y-12">
    <%= render(
          "games/past/active_participants/roster",
          roster: results.active_participants_roster) %>
    <%= render(
          "games/past/observers/roster",
          roster: results.observers_roster) %>
  </div>
</div>
