<%# locals: (status:) %>

<div class="container mx-auto">
  <h2 class="text-center select-auto">
    <span class="<%= class_names(status.css) %>"><%= status %></span>
    <span class="tracking-emojis"><%= status.statusmojis %></span>
  </h2>
</div>
