<%# locals: (status:) %>

<div class="container mx-auto">
  <h2 class="text-center">
    <span class="<%= class_names(status.game_status_css) %>">
      <%= status.game_status %>
    </span>

    <span class="tracking-emojis"><%= status.game_status_mojis %></span>
  </h2>
</div>
