<div
  class="
    container mx-auto
    pt-6 md:pt-12 space-y-12
    text-center
  "
>
  <h1 class="text-9xl text-red-500 dark:text-red-500">
    406
  </h1>

  <h2 class="h3 font-normal text-5xl">
    Unsupported Browser
  </h2>

  <div class="space-y-10">
    <p><%= @unsupported_browser.browser_description %> is not supported.</p>
    <p>Please upgrade to a modern browser version to continue:</p>

    <div class="flex justify-center">
      <ul class="">
        <% @unsupported_browser.modern_browser_versions_list.each do |listing| %>
          <li><%= listing %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
