<%# locals: (listing:) %>

<li
  id="<%= listing.turbo_target %>"
  <% if listing.expired? %>
    class="text-dim-lg"
  <% end %>
>
  <%= link_to(
        listing.updateable_display_name,
        listing.show_user_url,
        class: listing.username_turbo_target,
        data: { turbo_frame: :_top },
      ) %>

  <span
    title="<%= listing.participation_status_title %>"
    <% if listing.expired? %>
      class="opacity-50"
    <% end %>
  >
    <%= listing.participation_statusmoji %>
  </span>
</li>
