<%# locals: (listing:) %>

<li id="<%= listing.turbo_target %>">
  <%= link_to(
        listing.name,
        listing.show_user_url,
        class: listing.username_turbo_target,
        data: { turbo_frame: :_top }) %>

  <span id="<%= listing.participation_status_turbo_target %>">
    <%= listing.participation_status_emoji %>
  </span>
</li>
