@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-mono;
  }

  body {
    @apply dark:bg-neutral-800 dark:text-neutral-200;
  }

  a,
  .a {
    @apply underline underline-offset-4
      hover:text-red-700 dark:hover:text-red-600;
  }

  header,
  footer {
    nav a {
      @apply py-2 no-underline;
    }
  }
  nav a {
    @apply border-2 border-transparent;

    &.active,
    &:hover {
      @apply no-underline border-b-red-700 dark:border-b-red-600;
    }
  }
  nav .no-active-links a {
    @apply border-none;
  }

  h1,
  .h1 {
    @apply text-3xl font-bold normal-case;
  }
  h2,
  .h2 {
    @apply text-2xl font-bold normal-case;
  }
  h3,
  .h3 {
    @apply text-xl font-bold uppercase;
  }
  h4,
  .h4 {
    @apply text-lg font-bold normal-case;
  }
  h5,
  .h5 {
    @apply text-base font-bold normal-case;
  }
  h6,
  .h6 {
    @apply text-base font-bold normal-case;
  }

  hr {
    @apply my-12 border-dotted border-dim;
  }

  dfn {
    @apply border-b border-dashed border-gray-500 not-italic cursor-pointer;
  }

  code {
    @apply px-2 py-1 rounded whitespace-nowrap
      bg-gray-200 dark:bg-neutral-700
      dark:text-neutral-200
      select-all selection:bg-green-300 selection:text-green-900;
  }
}

@layer components {
  .border-dim {
    @apply border-gray-300 dark:border-neutral-600;
  }
  .border-dim-lg {
    @apply border-gray-200 dark:border-neutral-700;
  }
  .border-dark {
    @apply border-gray-600 dark:border-neutral-950;
  }

  .text-dim-sm {
    @apply text-gray-600 dark:text-neutral-300;
  }
  .text-dim {
    @apply text-gray-500 dark:text-neutral-400;
  }
  .text-dim-lg {
    @apply text-gray-400 dark:text-neutral-500;
  }
  .text-dim-xl {
    @apply text-gray-300 dark:text-neutral-600;
  }

  .btn-basic {
    @apply cursor-pointer no-underline hover:opacity-80;
  }
  .btn-primary {
    @apply cursor-pointer select-none no-underline whitespace-nowrap
      border border-2
      border-gray-800 dark:border-gray-400
      px-4 py-1;

    &:hover,
    &:disabled {
      @apply ring ring-1
        ring-red-700 dark:ring-red-600
        border-red-700 dark:border-red-600;
    }
    &:disabled {
      @apply text-red-600 dark:text-red-600;
    }
  }

  .form-input,
  .form-select,
  .form-textarea {
    @apply bg-transparent focus:ring-0;

    &,
    &:focus {
      @apply border-transparent;
    }
  }
  .form-input {
    &,
    &:focus {
      @apply border-b-red-800 dark:border-b-red-600;
    }
  }
  .form-textarea {
    &,
    &:focus {
      @apply border-red-800 dark:border-red-600;
    }
  }
  .form-error {
    @apply text-red-600 dark:selection:bg-[#469dff];
  }

  /*
  CSS Tooltips
  - Based on Balloon.css (https://kazzkiq.github.io/balloon.css) but with all
    options removed. Tooltips are always just "up-left" style.

  Usage: <dfn data-tooltip="..." class="after:w-80">...</dfn>
  */
  [data-tooltip] {
    @apply relative cursor-pointer;

    &::before,
    &::after {
      @apply pointer-events-none
        absolute z-10
        bg-neutral-900
        opacity-0 hover:opacity-100
        transition-all ease-out delay-150 duration-150
        bottom-full origin-top translate-x-0 -translate-y-1;
    }
    &::before {
      @apply left-3 size-3 content-[""] rotate-45;
    }
    &::after {
      @apply left-0
        content-[attr(data-tooltip)]
        mb-1.5 p-4 rounded-md
        font-normal text-neutral-200;
    }
  }

  /*
  Honeybadger Feedback Form
  - Shows on Custom Error Pages
  */
  #honeybadger_feedback_form {
    br,
    .honeybadger-feedback-name,
    .honeybadger-feedback-email,
    label[for="honeybadger_feedback_comment"] {
      @apply hidden;
    }

    /* Can't just `@apply form-input;` because of nested styles. */
    input {
      @apply bg-transparent focus:ring-0;

      &,
      &:focus {
        @apply border-transparent border-b-red-800 dark:border-b-red-600;
      }
    }

    /* Can't just `@apply btn-primary;` because of nested styles. */
    #honeybadger_feedback_submit {
      @apply cursor-pointer select-none no-underline whitespace-nowrap
        border border-2
        border-gray-800 dark:border-gray-400
        px-4 py-1;

      &:hover,
      &:disabled {
        @apply ring ring-1
          ring-red-700 dark:ring-red-600
          border-red-700 dark:border-red-600;
      }
      &:disabled {
        @apply text-red-600 dark:text-red-600;
      }
    }
  }
  #honeybadger_feedback_link {
    @apply hidden;
  }
  #honeybadger_feedback_success {
    @apply text-center text-green-400;
  }
}

@layer utilities {
  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
