<%# locals: (listing:) %>

<span id="<%= listing.dom_id(helpers: layout.helpers) %>">
  <%= link_to(
        listing.name,
        listing.show_user_url,
        data: { turbo_frame: :_top }) %>
</span>
