<% signature = @view.signature %>

<%= turbo_stream.update(signature.turbo_frame_name) do %>
  <div
    data-controller="inline-edit"
    data-action="keydown.esc@window->inline-edit#cancel"
  >
    <div
      data-inline-edit-target="beforeEdit"
      class="hidden"
    >
      <%= render("games/users/signature", view: signature) %>
    </div>
    <div data-inline-edit-target="editing">
      <%= render("games/users/form", view: @view) %>
    </div>
  </div>
<% end %>
