<%# locals: (activity_indicator:) %>

<span
  id="<%= activity_indicator.turbo_target %>"
  title="Activity Indicator"
  class="
    absolute top-0 -right-3 size-[7px]
    rounded-full
    <%= activity_indicator.css %>
  "
></span>
