<%# locals: (board:) %>

<div class="mx-auto md:w-fit md:max-w-full space-y-2">
  <%= render("games/current/board/header", header: board.header) %>
  <%= render("games/current/board/content", content: board.content) %>
  <%= render("games/board/footer", footer: board.footer) %>
</div>
