<%# locals: (nav:) %>

<% if nav.previous_game? %>
  <div class="flex items-center gap-x-3 text-dim">
    <%= link_to(nav.previous_game_url, title: "Previous Op") do %>
      <%= inline_svg_tag("heroicons/arrow-left-circle.svg") %>
    <% end %>
  </div>
<% end %>
