<%# locals: (status:) %>

<div class="container mx-auto">
  <h2 class="text-center max-sm:text-[1.4rem]">
    <span
      title="Active Fleet Size"
      class="inline-flex gap-x-1 items-baseline"
    >
      <span
        id="<%= status.game_status_turbo_target %>"
      ><%= status %></span>
      <span class="text-[17px] text-dim-sm">x</span>
      <small
        id="<%= status.fleet_size_turbo_target %>"
      ><%= status.fleet_size %></small>
    </span>
  </h2>
</div>
