<%# locals: (status:) %>

<div class="container mx-auto">
  <h2 class="flex justify-center items-baseline gap-x-2 max-sm:text-[1.4rem]">
    <span
      id="<%= status.game_status_turbo_target %>"
    ><%= status.game_status_with_emoji %></span>

    <span class="small inline-flex gap-x-1 items-baseline">
      <span class="text-[17px] text-dim-sm">x</span>
      <span
        id="<%= status.fleet_size_turbo_target %>"
      ><%= status.fleet_size %></span>
    </span>
  </h2>
</div>
