<%# locals: (status:) %>

<div class="container mx-auto">
  <h2 class="text-center cursor-default">
    <span class="<%= class_names(status.game_status_css) %>">
      <%= status.game_status %>
    </span>

    <span
      title="The number of current Minesweepers/Spectators"
      class="inline-flex gap-x-2"
    >
      <%= status.game_status_emoji %>
      <small
        id="fleet_count"
        class="before:content-['x'] before:mr-1.5 font-normal text-dim"
      ><%= status.players_count %></small>
    </span>
  </h2>
</div>
