<%# locals: (display_case:) %>

<div
  data-controller="display-case scroll-to"
  data-action="
    display-case:show->scroll-to#jumpToContainer
    keydown.esc@window->display-case#hide
  "
  data-transition-enter="transition ease-out duration-100"
  data-transition-enter-start="transform opacity-0 scale-95"
  data-transition-enter-end="transform opacity-100 scale-100"
  data-transition-leave="transition ease-in duration-75"
  data-transition-leave-start="transform opacity-100 scale-100"
  data-transition-leave-end="transform opacity-0 scale-95"
  class="
    hidden relative
    border border-dim shadow-lg rounded
    <%= display_case.try(:container_css) %>
  "
>
  <div class="absolute top-3 right-3 flex justify-end">
    <button
      type="button"
      data-action="display-case#hide"
      class="
        -m-1 p-2 rounded-lg
        hover:bg-gray-200 dark:hover:bg-neutral-700 hover:focus:bg-gray-200
        focus:ring-2 focus:ring-gray-400 focus:animate-pulse-fast
        text-dim
      "
      aria-label="Close"
    >
      <%= inline_svg_tag("heroicons/x-mark.svg", class: "stroke-2") %>
    </button>
  </div>

  <%= turbo_frame_tag(
        display_case.turbo_frame_name,
        data: {
          state: "empty",
          display_case_target: "turboFrame",
          action: "turbo:frame-load->display-case#load",
        }) %>
</div>
