<%# locals: (flash:) %>

<div
  id="<%= flash.turbo_target %>"
  class="
    pointer-events-none z-10
    fixed top-6 left-1/2 -translate-x-1/2
    flex flex-col items-center gap-y-3
  "
>
  <%= render(
        partial: "application/flash/notification",
        collection: flash.notifications) %>
</div>
