<nav class="container mx-auto flex justify-between">
  <ul class="flex gap-x-6 lg:gap-x-12">
    <li><%= active_link_to("War Room", root_path) %></li>
    <li>
      <%= active_link_to(
            "Sweep Ops Archives", games_path, includes: "games") %>
    </li>
  </ul>

  <div class="hidden md:inline">
    <% if layout.current_user_has_signed_their_name? %>
      <%= layout.current_user_display_name %>
    <% else %>
      <%= t("site.title") %>
    <% end %>
  </div>
</nav>
